{% extends "a/base1.html" %}
{% load i18n %}

{% load crispy_forms_tags %}



{% block content%}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <h1>{% trans "Log In" %}</h1>







                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-danger  btn-lg " type="submit">{% trans "Log In" %}</button>
                    </form>
                    <hr>
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a class="btn amado-btn w-5" href="{{ signup_url }}">Sign up</a> {% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}