{% extends "a/base1.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <h1>{% trans "Sign Up" %}</h1>

                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class='btn btn-danger btn-lg' type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </form>
                    <p>{% blocktrans %}Already have an account? Then please
                        <br>
                        <a class="btn amado-btn w-0" href="{{ login_url }}">
                            Log In</a>.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}