{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Pochonder-Shob</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'amado/img/core-img/rk/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'amado/css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'amado/style.css' %}">

</head>

<body>
    <!-- Search Wrapper Area Start -->
    {% include 'a/layout/search.html' %}
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->

        {% include 'a/layout/mobile_nav.html' %}
        {% include 'a/layout/header.html' %}


        {% block content%}

        {% include 'a/layout/sidebar1.html' %}





        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            {% block show%}
                            {% include 'a/snipt/show.html' %}
                            {% endblock show %}
                            <!-- Sorting -->

                            {% block sort%}
                            {% include 'a/snipt/sort.html' %}
                            {% endblock sort%}

                        </div>
                    </div>
                </div>

                <div class="row">

                    {% block market%}
                    {% include 'a/data/market.html' %}
                    {% endblock market%}



                </div>

                <div class="row">




                    {% block shop%}
                    {% include 'a/data/shop.html' %}
                    {% endblock shop%}

                </div>

                <div class="row">

                    {% block item%}
                    {% include 'a/data/item.html' %}
                    {% endblock item%}

                </div>



                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                                <li class="page-item"><a class="page-link" href="#">02.</a></li>
                                <li class="page-item"><a class="page-link" href="#">03.</a></li>
                                <li class="page-item"><a class="page-link" href="#">04.</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        {% endblock content %}

    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Newsletter Area End ##### -->

    {% include "a/layout/footer.html" %}
    <!-- ##### Footer Area End ##### -->


    {% include "a/layout/script.html" %}
</body>

</html>