{% extends "a/base1.html" %}
{% load static %}
<!-- Header Area End -->

{% block content %}
<!-- Header Area End -->

<!-- Product Catagories Area Start -->








<div class="amado_product_area section-padding-100">
    <div class=" container-fluid">
        <h1> Markets </h1>
        <hr>
        <div class="row">
            <!-- Single Catagory -->
            {% for item in object_list %}
            <div class="col-12 col-sm-6 col-md-12 col-xl-4">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">

                        <a href="{{ item.get_absolute_url }}">
                            <img src="{{ item.image.url }}" alt="">
                            <!-- Hover Content -->
                    </div>
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p>{{ item.name }} </p>

                            <small> {{ item.shops_count}} <i class="fa fa-shopping-bag" aria-hidden="true"></i> </small>
                        </div>
                        <div class="ratings-cart text-right">
                            <div class="ratings">
                                <h1>
                                    <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>


                                    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>

                                </h1>





                            </div>

                        </div>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

<!-- Product Catagories Area End -->
{% endblock %}