{% extends "a/base1.html" %}
{% load static %}
<!-- Header Area End -->

{% block content %}
<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">{{item.market_name}}</a></li>
                        <li class="breadcrumb-item"><a href="#">{{item.shop}} </a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{item.category}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- product image -->
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">

                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                style="background-image: url({{ item.image.url }}" );">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1"
                                style="background-image: url({{ item.image.url }}" );">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2"
                                style="background-image: url({{ item.image.url }}" );">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3"
                                style="background-image: url({{ item.image.url }}" );">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                    <img class="d-block w-100" src="{{ item.image.url }}" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                    <img class="d-block w-100" src="{{ item.image.url }}" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                                    <img class="d-block w-100" src="{{ item.image.url }}" alt=" Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                    <img class="d-block w-100" src="{{item.image.url}}" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Product image end -->

            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">

                            <strong>
                                {% if item.discount_price  %}
                                <span class="mr-1">
                                    <del> {{item.price }} ‎৳</del>
                                </span>
                                <span class="mr-1">
                                    {{ item.discount_price }}‎৳
                                </span>
                                <br>
                                <span class="mr-1">
                                    {{ item.discount }} ‎% discount!
                                </span>
                                {% else %}
                                {{ item.price }}
                                {% endif %}
                            </strong>
                        </p>
                        <a href="product-details.html">
                            <h6>{{item.title}}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <!--
                                <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                            -->

                        </div>
                        <!-- Avaiable -->
                        {% if item.in_stock %}
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                        {% endif %}
                    </div>

                    <div class="short_overview my-5">
                        <p>{{ item.description }}</p>
                    </div>

                    <!-- Add to Cart Form 
                    <form class="cart clearfix" method="post">
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <span class="qty-minus"
                                    onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i
                                        class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input type="number" class="qty-text" id="qty" step="1" min="1" max="300"
                                    name="quantity" value="1">
                                <span class="qty-plus"
                                    onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                        class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>



                    </form>
                    -->
                    <div>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add to cart
                        </a>
                        <!--
                              <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                            Remove from cart
                        </a>
                        -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
{% endblock content %}