{% load static %}
{% load cart_template_tags %}
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="/"><img src="{% static 'amado/img/core-img/logo.jpg' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>

            <li><a href="/">Home</a></li>

            <!--
                <li class="active"><a href="shop.html">Search</a></li>
            -->

            <li><a href="{% url 'core:markets' %}">Market</a></li>
            <li><a href="{% url 'core:shops' %}">Shop</a></li>
            <li><a href="{% url 'core:products' %}">Product</a></li>

            {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'core:order-summary' %}" class="cart-nav"><img
                        src="{% static 'amado/img/core-img/cart.png' %}" alt=""> Cart
                    <span>({{ request.user|cart_item_count }}) </span></a>
            </li>
            <li>
                <a href="{% url 'core:customer-order' %}">

                    My Orders </a>
                </a>
            </li>
            <li>
                <a class="nav-link waves-effect" href="{% url 'account_logout' %}"> Logout
                </a>
            </li>
            {% else %}

            <li>
                <a href="{% url 'account_login' %}">
                    Login
                </a>
            </li>
            <li>
                <a href="{% url 'account_signup' %}">
                    Signup </span>
                </a>
            </li>
            {% endif %}

        </ul>
    </nav>

    {% if request.user.is_authenticated %}

    <p>
        <span class=""> Hello {{ request.user.username }}! </span>

    </p>

    {% endif %}
</header>
<!-- Header Area End -->